<!DOCTYPE html>
<html lang="Jens">
    <head>
        <title>Jens blog</title>
    </head>
    <body bgcolor="#87cefa">
        <p>Halli-Hallo!</p>
        <p>Es funktioniert!</p>
    <strong>
        Hiermit bedanke ich mich bei Bastian und André für die bisherige Unterstützung und Motivation !
    </strong>
   {% for post in posts %}
    <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </article>
{% endfor %}

    </body>

</html>








